{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('assets/evenement.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

<!-- Display "add a product" button only if connected with the "membre BDE" role -->
 {% if app.session.get('role') == 2 %}
    <a href="/ajouteracti" class="btn btn-primary add-product">Ajouter un événement</a>
{% endif %}
<!--  -->  


{% for activity in activities %}
<!-- If activity is bloqued... -->  
{% if activity.masquee %} 
{% if app.session.get('role') == 2 or app.session.get('role') == 3 %}
<!-- Main pattern of card's activities -->  
<div class="p-5 m-4 border-right bg-light">
    <div class="card">
        <div class = "evenement">
            <h2>{{activity.name}}</h2>
            <div class="metadata p-2"> Crée le {{activity.date | date('d/m/Y')}}</div>
            <div class="content m-1">
                <img class="event" src= "{{activity.image}}" alt="">
                <br/><br/>
                {{activity.description | raw }}
                <br>
                <a href="/evenement/{{activity.id}}" class="btn btn-primary m-3">Voir l'événement</a>
                <!-- ...If connected with the "membre BDE" role -->  
                {% if app.session.get('role') == 2 %}
                <a class="btn btn-primary m-3">L'activité a été suspendue par un membre du personnel</a>
                <!--  -->  
                <!-- ...If connected with the "personnel CESI" role -->  
                {% elseif app.session.get('role') == 3 %}
                <a href="/afficheracti/{{activity.id}}" class="btn btn-primary m-3">Rétablir l'évènement</a>
                <!--  -->  
                {% endif %}
            </div> 
        </div>
    </div>    
</div>
<!--  -->  
{% endif %}
<!-- If activity is public... -->  
{% else %}
<div class="p-5 m-4 border-right bg-light">
    <div class="card">
        <div class = "evenement">
            <h2>{{activity.name}}</h2>
            <div class="metadata p-2"> Crée le {{activity.date | date('d/m/Y')}}</div>
            <div class="content m-1">
                <img class="event" src= "{{activity.image}}" alt="">
                <br/><br/>
                {{activity.description | raw }}
                <br/>
                <a href="/evenement/{{activity.id}}" class="btn btn-primary m-3">Voir l'événement</a>
                <!-- ...If connected with the "membre BDE" role -->  
                {% if app.session.get('role') == 2 %}
                <a href="/supprimeracti/{{activity.id}}" class="btn btn-primary m-3">Supprimer l'évènement</a>
                <!--  --> 
                <!-- ...If connected with the "personnel CESI" role --> 
                {% elseif app.session.get('role') == 3 %}
                <a href="/masqueracti/{{activity.id}}" class="btn btn-primary m-3">Suspendre l'évènement</a>
                <!--  --> 
                {% endif %}
            </div>
        </div> 
    </div>    
</div>

{% endif %}
<!--  -->  
{% endfor %} 

<br/><br/><br/>


{% endblock %}